<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>hospital_regd</servlet-name>
        <servlet-class>hospital_regd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_regd</servlet-name>
        <servlet-class>patient_regd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_regd</servlet-name>
        <servlet-class>doctor_regd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_verify</servlet-name>
        <servlet-class>login_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_doctor</servlet-name>
        <servlet-class>add_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_doctor</servlet-name>
        <servlet-class>edit_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_doctor</servlet-name>
        <servlet-class>delete_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allocatepatient1</servlet-name>
        <servlet-class>allocatepatient1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_prescription</servlet-name>
        <servlet-class>add_prescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_profile</servlet-name>
        <servlet-class>update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lab_regd</servlet-name>
        <servlet-class>lab_regd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtest</servlet-name>
        <servlet-class>addtest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hospital_regd</servlet-name>
        <url-pattern>/hospital_regd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_regd</servlet-name>
        <url-pattern>/patient_regd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_regd</servlet-name>
        <url-pattern>/doctor_regd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_verify</servlet-name>
        <url-pattern>/login_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_doctor</servlet-name>
        <url-pattern>/add_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_doctor</servlet-name>
        <url-pattern>/edit_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_doctor</servlet-name>
        <url-pattern>/delete_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allocatepatient1</servlet-name>
        <url-pattern>/allocatepatient1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_prescription</servlet-name>
        <url-pattern>/add_prescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_profile</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lab_regd</servlet-name>
        <url-pattern>/lab_regd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtest</servlet-name>
        <url-pattern>/addtest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
